.layout {
  display: flex;
  min-height: 100vh;
  background-color: var(--color-background);
}

.main-content {
  flex: 1;
  margin-left: 250px;
  padding: 2rem;
  background-color: var(--color-background);
  color: var(--color-text-primary);
  min-height: 100vh;
}

